@import "./css_reset.scss";
@import "./session_form.scss";
@import "./header.scss";
@import "./session_form.scss";
@import "./playhead.scss";
@import "./main_content.scss";
@import "./song_index_item.scss";
@import "./comment_show.scss";
@import "./user_page.scss";
@import "./stream.scss";
@import "./song_form.scss";
@import "./splash_page.scss";
@import "./grid.scss";

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
}

a {
  color: #ccc;
  text-decoration: none;
}
