.comment-avatar-image {
  width: 10px;
  height: 10px;
}

.comment-hidden {
  display: none;
}
.commenter {
  font-size: 12px;
  /* width: 149%; */
  font-weight: 400;
  color: #f50;
  padding-right: 5px;

  white-space: nowrap;
}
.hover-zone {
  padding: 20px;
}
.comment-body {
  font-size: 12px;
  /* width: 149%; */
  font-weight: 400;
  color: #ccc;
  white-space: nowrap;
}
.comment-reveal {
  display: flex;
  padding-top: 3px;
  position: absolute;
  z-index: 5;
}
