.main-content {
  width: 1180px;
  background: white;
  margin: 0 auto;
  min-height: 100vh;
  bottom: 0;
}

body {
  background: #f2f2f2;
}

textarea {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
