.main-content {
  // padding: 0 30px;
  width: 1180px;
  background: white;
  // min-height: 100%;
  // position: absolute;
  margin: 0 auto;
  // top: 92px;
  min-height: 100vh;
  bottom: 0;
  // left: ;
}

body {
  background: #f2f2f2;
}
