.playhead-container {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  border-top: 1px solid #cecece;
  flex-direction: column;
  justify-content: space-evenly;
  height: 48px;
  position: fixed;
  z-index: 1000;
  bottom: 0%;
  width: 100%;
  transition: transform 0.2s ease-out;
}
.playhead-controls {
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.playhead-like-follow {
  width: 40px;
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 1180px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
}
.timebar {
  width: 1000px;
  display: flex;
  flex-direction: row;
  .progress {
    width: 95%;
    ::-webkit-slider-runnable-track {
      background: orange;
    }
    ::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      background: pink;
      margin-top: -5px;
      border-radius: 50%;
    }
    ::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: goldenrod;
      margin-top: -4px;
    }
  }
}
.playhead-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.playhead-photo {
  height: 24px;
  width: 24px;
}
.playhead-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.playhead-uploader {
  color: #999;
  font-size: 12px;
}
.playhead-title {
  font-size: 12px;
  width: 150px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: #333;
  }
}
.volume-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.playhead-artist-info {
  margin: 0px 10px;
}
.playhead-artist-container {
  height: 48px;
  align-items: center;
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#volume-slider-div {
  display: none;
  background: #f2f2f2;
  border: 1px solid #cecece;
  position: absolute;
  bottom: 48px;
  height: 155px;
  width: 40px;
}

#volume-range {
  position: absolute;
}
.vslider-background {
  top: 95%;
  left: 25%;
  position: absolute;
  transform: rotate(270deg);
}

.volume-container:hover #volume-slider-div {
  display: block;
}

.outer-playhead {
  display: flex;
  justify-content: center;
}
