.song-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.song-list-item-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  // background: pink;
  // align-items: center;
}
.left-song-info {
  padding-left: 10px;
}
.stream-ul {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.song-container-photo {
  width: 160px;
  height: 160px;
  padding-right: 20px;
}
.song-interact-buttons {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  .liked:hover {
    border: 1px solid #f50;
  }
  button:hover {
    border: 1px solid #d6d5d5;
  }
  button {
    border-radius: 3px;
    background-color: white;
    display: flex;
    padding: 2px 7px;
    padding-right: 10px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
    flex-direction: row;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
    p {
      padding-left: 5px;
    }
  }
}
.song-li-play-button {
  height: 36px;
  width: 36px;
  cursor: pointer;
  background-color: #f50;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
}
.song-li-button-container {
  height: 36px;
  width: 36px;
}
.song-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .genre {
    height: 16px;
    padding: 0 6px;
    line-height: 16px;
    margin-right: 2px;
    border: 1px solid #999;
    border-left-width: 0;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    background: #999;
    font-weight: 100;
    border-radius: 20px;
  }
}
.song-list-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.waveform {
  // width: 1000px;
  overflow: visible;
  height: 100px;
}

.profile-link {
  font-size: 15px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 100;
}
.profile-link:hover {
  color: #333;
}
.song-page-link {
  color: #333;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 100;
}
.song-page-link:hover {
  color: black;
}
.song-list-header {
  // display: flex;
  // // width: 100%;
  // // flex-direction: row;
  // justify-content: space-between;
}

.song-list-righthand {
  width: 100%;
  background: white;
}
.comment-input {
  // width: 100%;
}

.comments-container {
  // background: red;
  position: relative;
  // height: 200px;
  height: 16px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: row;
}
.comment-bubble {
  // background: pink;
  position: absolute;
}

.comment-input-padding {
  // margin-left: 3px;
  // margin-right: 3px;
  background: gray;
  display: flex;
  align-items: center;
  width: 100%;
}
.comment-input-inner {
  // border: 3px solid grey;
  // background-color: grey;
  // margin: 0 auto;
  // margin-left: 4px;
  border: none;
  border-radius: 3px;
  margin: 4px;
  width: 100%;
}

.stream-ts-container {
  display: flex;
  padding: 20px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  .stream-uploader-pfp {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .stream-ts-uploader {
    a {
      padding-left: 0.5em;
      color: #333;
    }
  }
  .stream-ts-stamp {
    color: #ccc;
    text-indent: 0.5em;
  }
}
