.song-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.song-list-item-container {
  display: flex;
  flex-direction: row;
  // background: pink;
  // align-items: center;
}
.left-song-info {
  padding-left: 10px;
}
.stream-ul {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.song-container-photo {
  width: 160px;
  height: 160px;
  padding-right: 20px;
}

.song-li-play-button {
  height: 36px;
  width: 36px;
  background-color: #f50;
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;
}
.song-li-button-container {
  height: 36px;
  width: 36px;
}
.song-list-header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.waveform {
  // width: 1000px;
  overflow: visible;
  height: 100px;
}

.profile-link {
  font-size: 15px;
}
.song-page-link {
  color: black;
}
.song-list-header {
  // display: flex;
  // // width: 100%;
  // // flex-direction: row;
  // justify-content: space-between;
}

.song-list-righthand {
  width: 100%;
  background: white;
}
.comment-input {
  // width: 100%;
}

.comments-container {
  // background: red;
  position: relative;
  // height: 200px;
  height: 16px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: row;
}
.comment-bubble {
  // background: pink;
  position: absolute;
}

.comment-input-padding {
  // margin-left: 3px;
  // margin-right: 3px;
  background: gray;
  display: flex;
  align-items: center;
  width: 100%;
}
.comment-input-inner {
  // border: 3px solid grey;
  // background-color: grey;
  // margin: 0 auto;
  // margin-left: 4px;
  border: none;
  border-radius: 3px;
  margin: 4px;
  width: 100%;
}
