.stream-page {
  position: relative;
  padding-bottom: 45px;
}

.song-container-stream-show {
  background-color: white;
  position: static;
  left: 0px;
  width: 100%;
  z-index: 3;
}

.stream-right-hand-bar {
  position: relative;
  width: 400px;
}

.stream-show-mc {
  display: flex;
  justify-content: space-between;
}
